{% extends 'eco/base.html' %}
{% block content %}

{% if form.errors %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    There was an error with your form.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endif %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loging</title>
</head>
<body>
    <div class="shadow p-4 mb-5 bg-body rounded">
    <center>
        <h2>Register </h2>
    </center>
    <br/>
    <form action="{% url 'register_user' %}" method="POST">
        {% csrf_token %}

        {{ form.as_p }}
    <br/><br/>
        <input type="submit" value="Submit" class="btn btn-secondary">
    </form>
    </div>
</body>
</html>
{% endblock %}